<h2>{{title}}</h2>
<div class="row">
  <div class="col-md-6">
    {{team-single-form item=model buttonLabel=buttonLabel action="saveTeam"}}
    </div>
  <div class="col-md-4">
    {{#team-single single-team=model}}
      <br/>
    {{/team-single}}
  </div>
</div>
