<div class="form-horizontal form-group form-group-lg row">
  <div class="col-md-6">
    {{team-single-form single-team=model buttonLabel='Add Team' action='saveTeam' }}
  </div>
  <div class="col-md-6">
    {{#team-single single-team=model}}
      <br/>
    {{/team-single}}
  </div>
</div>
