<div class="form-horizontal form-group form-group-lg row">
  <div class="col-md-6">
    {{team-single-form value=model buttonLabel='Add Team' action='saveTeam'}}
    {{input type="text" value=model.name class="form-control" placeholder="Name of team"}}
     <button type="submit" class="btn btn-default" {{action 'saveTeam' model}}>Add to library list</button>
  </div>
  <div class="col-md-6">
    {{#team-single single-team=model}}
      <br/>
    {{/team-single}}
  </div>
</div>
