<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            {{link-to 'Start Bootstrap' 'application' }}
        </li>
        <li>
           {{link-to 'Dashboard' 'application' }}
        </li>
        <li>
            {{#link-to 'team'}}Team{{/link-to}}
        </li>
        <li>
           {{link-to 'Seeder' 'seeder' }}
        </li>
        <li>
           {{link-to 'Players' 'players' }}
        </li>
    </ul>
</div>
